@model IEnumerable<AppPruebaMVC.Data.Models.Citum>

@{
    ViewData["Title"] = "Index";
}

<h1>Cita Medica</h1>

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</p>
<table class="responsive-table highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                Paciente
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNavigation.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Codigo" class="btn red">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
