@model AppPruebaMVC.Data.Models.Persona

<div class="container">
    <h1>Dar de Baja</h1>

<h3>¿Estas seguro que quieres dar de Baja esta Persona?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col 2">
            Apellido Materno
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col 2">
            Apellido Paterno
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.NumeroCelular)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.NumeroCelular)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
        <dt class = "col 2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col 10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form id="formBaja">
        <input type="hidden" asp-for="Codigo" />
        <input type="hidden" asp-for="Estado" value="false"/>
    </form>
</div>

</div>

