@model IEnumerable<AppPruebaMVC.Data.Models.Persona>

@{
    ViewData["Title"] = "Personas";
}

<link rel="stylesheet" href="~/css/materialTable.css" asp-append-version="true" />

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="bottom" data-tooltip="Agregar Persona"><i class="fa-solid fa-plus fa-3x"></i></a>
</p>
<table class="responsive-table striped" id="myTable">
    <thead>
        <tr>
             <th>
                Num. C.I.
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Fec. Nacimiento
            </th>
            <th>
                Sexo
            </th>
            <th>
                Num. Celular
            </th>
            <th>
                Num. Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Estado
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)  @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            @if (item.Sexo)
            {
                <td>
                   M    
                </td>
            }
            else
            {
                 <td>
                   F
                </td>   
            }
             <td>
                @Html.DisplayFor(modelItem => item.NumeroCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            @if (item.Estado)
            {
                <td class="green-text" id="@item.Codigo">
                   Activo    
                </td>
                <td>
                <a id="edit_@item.Codigo" asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey tooltipped" data-position="bottom" data-tooltip="Editar Persona"><i class="fa-solid fa-pen-to-square"></i></a>
                <a id="baja_@item.Codigo" onclick="DarBaja('Persona', '@item.Nombre', '@item.Codigo', '@item.ApellidoPaterno', '@item.ApellidoMaterno')" class="btn red tooltipped" data-position="bottom" data-tooltip="Dar de Baja Person"><i class="fa-solid fa-trash"></i></a>
                
            </td>
            }
            else
            {
                 <td class="red-text" id="@item.Codigo">
                   inActivo
                </td>
                <td>
                <a disabled class="btn grey tooltipped" data-position="bottom" data-tooltip="Editar Persona"><i class="fa-solid fa-pen-to-square"></i></a>
                <a disabled class="btn red tooltipped" data-position="bottom" data-tooltip="Dar de Baja Persona"><i class="fa-solid fa-trash"></i></a>
            </td>
            }
            
        </tr>
}
    </tbody>
</table>

<!-- Modal Elimiar -->
  <div id="modalEliminar" class="modal">
    <div class="modal-content">
      <h4 id="modalTitle">Modal Header</h4>
      <p id="modalMensaje">A bunch of text</p>
    </div>
    <div id="BajaBody"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a id="cmdEliminar" href="#!" class="modal-close waves-effect waves-green btn red">Dar Baja</a>
    </div>
  </div>

    @section Scripts{
    <script>
        var DarBaja = function(entity, element, id, element1, element2) {
            console.log("hola");
            let uri = `Personas/Baja/${id}`;
            event.stopPropagation();
            document.getElementById('modalTitle').innerHTML = `Dar Baja ${entity}`;
            document.getElementById('modalMensaje').innerHTML = `¿Seguro desea dar de Baja esta Persona? ${element} ${element1} ${element2}`;
            
            $("#BajaBody").load(uri, function(){
                $("#modalEliminar").modal('open');
                M.updateTextFields();
            });
            
        }

        var ConfirmarBaja = function() {
           console.log("Dando de baja" + idEliminar);
            var formValues = $('#formBajaPersona').serialize();
            id = "";
            $.ajax({
                type: 'POST',
                url: 'Personas/DarBaja',
                data: formValues
            })
                .done(function(data) {
                    console.log(data.codigo);
                    var toastHTML = '<span>Persona dada baja Correctamente</span><button class="btn-flat toast-action"><i class="fa-solid fa-check"></i></button>';
                    M.toast({html: toastHTML});
                    document.getElementById(`${data.codigo}`).innerHTML='inActivo';
                    document.getElementById(`${data.codigo}`).classList.replace('green-text', 'red-text');
                    $(`#baja_${data.codigo}`).attr('disabled', true);
                    $(`#edit_${data.codigo}`).attr('disabled', true);
                })
                .fail(function() {
                    var toastHTML = '<span>Error al dar de Baja Persona</span><button class="btn-flat toast-action">Undo</button>';
                    M.toast({html: toastHTML});
                });
        }
        
            
        let idEliminar;
        
        document.getElementById('cmdEliminar').addEventListener('click', () => {
            
            ConfirmarBaja();
        });
      $(document).ready( function () {

          var myTable = $('#myTable').DataTable({
              language: { url: '/lib/es-ES.json' }
          });

      } );

        
    </script>
}