@model IEnumerable<AppPruebaMVC.Data.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Persona</h1>

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</p>
<table class="responsive-table highlight">
    <thead>
        <tr class="blue white-text">
            <th>
                Num. Cedula    
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Apellido    
            </th>
            <th>
                Fecha Nacimiento    
            </th>
            
            <th>
                Num. Celular
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey"><i class="material-icons">edit</i></a>
                <a asp-action="Details" asp-route-id="@item.Codigo" class="btn blue"><i class="material-icons">info</i></a>
                <a asp-action="Delete" asp-route-id="@item.Codigo" class="btn red"><i class="material-icons">delete</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
