@model IEnumerable<AppPruebaMVC.Data.Models.Admicion>

@{
    ViewData["Title"] = "Admiciones";
}

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="bottom" data-tooltip="Registrar Admicion"><i class="fa-solid fa-plus fa-3x"></i></a>
</p>
<table class="responsive-table striped">
    <thead>
        <tr>
            <th>
                 Frec. Cardiaca
            </th>
            <th>
                Frec. Respiratorio
            </th>
            <th>
                Ocupacion
            </th>
            <th>
                Peso
            </th>
            <th>
                Pres. Arterial
            </th>
            <th>
                Saturacion
            </th>
            <th>
                Temperaruta
            </th>
            <th>
                Enfermera
            </th>
            <th>
                Cita
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaCardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaRespiratoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionArterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saturacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEnfermeraNavigation.CodigoNavigation.Nombre)
                @Html.DisplayFor(modelItem => item.CodEnfermeraNavigation.CodigoNavigation.ApellidoPaterno)
                @Html.DisplayFor(modelItem => item.CodEnfermeraNavigation.CodigoNavigation.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCitaNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey tooltipped" data-position="bottom" data-tooltip="Editar Admicion"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Codigo" class="btn red tooltipped" data-position="bottom" data-tooltip="Dar de Baja Admicion"></a>
            </td>
        </tr>
}
    </tbody>
</table>
