@model IEnumerable<AppPruebaMVC.Data.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-position="bottom" data-tooltip="Agregar Usuario"><i class="fa-solid fa-plus fa-3x"></i></a>
</p>
<table class="responsive-table striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                Usuario
            </th>
            <th>
                Nombre
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPersonaNavigation.Nombre) @Html.DisplayFor(modelItem => item.CodPersonaNavigation.ApellidoPaterno) @Html.DisplayFor(modelItem => item.CodPersonaNavigation.ApellidoMaterno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey tooltipped" data-position="bottom" data-tooltip="Editar Usuario"><i class="fa-solid fa-pen-to-square"></i></a>
                @*<!--<a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |-->*@
                <a asp-action="Delete" asp-route-id="@item.Codigo" class="btn red tooltipped" data-position="bottom" data-tooltip="Dar de Baja Usuario"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

