@model IEnumerable<AppPruebaMVC.Data.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="">
    <h1>Usuarios</h1>

    <p>
        <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
    </p>
<!--<div class="card col l12">-->
    <table class="responsive-table highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                Persona
            </th>
            <th>
                Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuarioNavigation.Cargo)
            </td>
            <td>
                <a class="btn grey" asp-action="Edit" asp-route-id="@item.Codigo">Edit</a>
                <a class="btn red" asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    </table>

</div>


