@model AppPruebaMVC.Data.Models.Resultado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antecedentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antecedentes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaResultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaResultado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProximaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProximaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEnfermedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEnfermedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarscodresNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarscodresNavigation.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Parscodres">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
