@model IEnumerable<AppPruebaMVC.Data.Models.Resultado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Antecedentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaResultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProximaCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoEnfermedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarscodresNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Antecedentes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaResultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProximaCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoEnfermedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarscodresNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Parscodres">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Parscodres">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Parscodres">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
