@model IEnumerable<AppPruebaMVC.Data.Models.RecetaMedica>

@{
    ViewData["Title"] = "Index";
}

<h1>Receta Medica</h1>

<p>
    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
</p>
<table class="responsive-table highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                Cita
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCitaNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo" class="btn grey">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Codigo" class="btn red">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
