@model IEnumerable<AppPruebaMVC.Data.Models.Diagnostico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDiagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEnfermedadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodResultadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDiagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEnfermedadNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodResultadoNavigation.Parscodres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
